/* Da linha 5 a 11, utilizando "Universal Box Sizing with Inheritance" para manter
o tamanho dos itens de acordo com os valores pré-estabelecidos
fonte: https://css-tricks.com/box-sizing/ */

html {
  box-sizing: border-box;
}

* , *:before , *:after {
  box-sizing: inherit;
}

#title {
  font-size: 3rem;
}

#color-palette {
  border: 3px solid black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  height: 7rem;
}

.color {
  border: 1px solid black;
  width: 5.5rem;
  height: 5.5rem;
  padding: 10px;
}

.color:nth-of-type( 1 ) {
  background-color: black;
}

.color:nth-of-type( 2 ) {
  background-color: red;
}

.color:nth-of-type( 3 ) {
  background-color: blue;
}

.color:nth-of-type( 4 ) {
  background-color: yellow;
}

#button-random-color {
  border: 1px solid black;
  width: 5.5rem;
  height: 5.5rem;
  padding: 0;
}

#pixel-board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  width: 200px;
  height: 200px;

}

.pixel {
  background-color: white;
  border: 1px solid black;
  width: 40px;
  height: 40px;
}
